<!-- <mat-grid-list cols="2" rowHeight="4:1" class="grid-layout-custom">   
    <mat-grid-tile>
      <mat-grid-tile-header rowHeight>
        <img width="60" alt="pLobo Logo" src="assets/img/pLobo.JPG"/><span class="textPatrullas">Patrulla Lobo</span>
      </mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header class="customHeader">
        <img width="60" alt="pFenix Logo" src="assets/img/pFenix.JPG"/><span class="textPatrullas">Patrulla Fénix</span>
      </mat-grid-tile-header>
    </mat-grid-tile>    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <img width="60" alt="pLagarto Logo" src="assets/img/pLagarto.JPG"/><span class="textPatrullas">Patrulla Lagarto</span>
      </mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>
        <img width="60" alt="pAguila Logo" src="assets/img/pAguila.JPG"/>
        <div class="textPatrullas">Patrulla Águila</div>
      </mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>
        <img width="60" alt="pBuho Logo" src="assets/img/pBuho.JPG"/><p class="textPatrullas">Patrulla Búho</p>
      </mat-grid-tile-header>
    </mat-grid-tile>    
  </mat-grid-list> -->


  <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar width="60" alt="pAguila Logo" src="assets/img/pAguila.JPG"/>
      <mat-card-title>Patrulla Águila</mat-card-title>
      <mat-card-subtitle>Puntos: 5</mat-card-subtitle>
    </mat-card-header>

    <mat-card-header>
      <img mat-card-avatar width="60" alt="pBuho Logo" src="assets/img/pBuho.JPG"/>
      <mat-card-title>Patrulla Búho</mat-card-title>
      <mat-card-subtitle>Puntos: 9</mat-card-subtitle>
    </mat-card-header>

    <mat-card-header>
      <img mat-card-avatar width="60" alt="pFenix Logo" src="assets/img/pFenix.JPG"/>
      <mat-card-title>Patrulla Fénix</mat-card-title>
      <mat-card-subtitle>Puntos: 12</mat-card-subtitle>
    </mat-card-header>

    <mat-card-header>
      <img mat-card-avatar width="60" alt="pLagarto Logo" src="assets/img/pLagarto.JPG"/>
      <mat-card-title>Patrulla cobra</mat-card-title>
      <mat-card-subtitle>Puntos: 7</mat-card-subtitle>
    </mat-card-header>

    <mat-card-header>
      <img mat-card-avatar width="60" alt="pLobo Logo" src="assets/img/pLobo.JPG"/>
      <mat-card-title>Patrulla cobra</mat-card-title>
      <mat-card-subtitle>Puntos: 14</mat-card-subtitle>
    </mat-card-header>
  </mat-card>